@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = Resources.Base.Areas.Identity.Pages.Account.ForgotPasswordConfirmation.ForgotPasswordConfirm;
}
<div class="jumbotron shadow rounded">

<h1>@Resources.Base.Areas.Identity.Pages.Account.ForgotPasswordConfirmation.ForgotPasswordConfirm</h1>
<p>
    @Resources.Base.Areas.Identity.Pages.Account.ForgotPasswordConfirmation.PleaseCheckEmail
</p>

</div>