<h1>
    Index</h1>

<p>
    <a href="/Contacts/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ContactValue
            </th>
            <th>
                Person
            </th>
            <th>
                ContactType
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                kesaap
            </td>
            <td>
                Kerman Saapar
            </td>
            <td>
                Skype
            </td>
            <td>
                <a href="/Contacts/Edit/83c99679-e297-4841-774b-08d8ea62e575">Edit</a> |
                <a href="/Contacts/Details/83c99679-e297-4841-774b-08d8ea62e575">Details</a> |
                <a href="/Contacts/Delete/83c99679-e297-4841-774b-08d8ea62e575">Delete</a>
            </td>
        </tr>
    </tbody>
</table>