<h1>
    Index</h1>

<p>
    <a href="/Persons/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                FirstName
            </th>
            <th>
                LastName
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Kerman
            </td>
            <td>
                Saapar
            </td>
            <td>
                <a href="/Persons/Edit/53c059fb-d0ca-486f-accd-08d8ea62dfd2">Edit</a> |
                <a href="/Persons/Details/53c059fb-d0ca-486f-accd-08d8ea62dfd2">Details</a> |
                <a href="/Persons/Delete/53c059fb-d0ca-486f-accd-08d8ea62dfd2">Delete</a>
            </td>
        </tr>
        <tr>
            <td>
                Test01
            </td>
            <td>
                Test01
            </td>
            <td>
                <a href="/Persons/Edit/b3cf02fb-fa79-4457-d84b-08d8eaa7b6d5">Edit</a> |
                <a href="/Persons/Details/b3cf02fb-fa79-4457-d84b-08d8eaa7b6d5">Details</a> |
                <a href="/Persons/Delete/b3cf02fb-fa79-4457-d84b-08d8eaa7b6d5">Delete</a>
            </td>
        </tr>
    </tbody>
</table>