<h1>

    Index</h1>

<p>
    <a href="/Simples/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Payload
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                aaaa
            </td>
            <td>
                <a href="/Simples/Edit/1718833a-a97f-4795-bf35-08d8eadedfb8">Edit</a> |
                <a href="/Simples/Details/1718833a-a97f-4795-bf35-08d8eadedfb8">Details</a> |
                <a href="/Simples/Delete/1718833a-a97f-4795-bf35-08d8eadedfb8">Delete</a>
            </td>
        </tr>
    </tbody>
</table>