@using Resource = Resources.Areas.Admin.Views.DrivingSchools.Create
@model WebApp.Areas.Admin.ViewModels.DrivingSchool.DrivingSchoolCreateEditViewModel
@{
    ViewData["Title"] = Resource.Title;
}

<div class="jumbotron shadow rounded">

    <h1>@Resource.CreateDrivingSchool</h1>

    <hr/>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" id="form-create-drivingschool">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <partial name="_CreateEdit" model="Model"/>

                <div class="form-group">
                    <input type="submit" value="@Resource.CreateR" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">@Resource.BackToList</a>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}