<h1>Titles</h1>

<a load="/titles-add">Add</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr repeat.for="title of titles">
            <td>
                ${title.name}
            </td>
            <td class="float-right">
                <a load="/titles-details(${title.id})">Details</a> |
                <a load="/titles-edit(${title.id})">Edit</a>
            </td>
        </tr>
    </tbody>
</table>