@page
@using Resources.Base.Areas.Identity.Pages.Account
@model ConfirmEmailModel
@{
    ViewData["Title"] = ConfirmEmail.EmailConfirm;
}
<div class="jumbotron shadow rounded">

    <h1>@ViewData["Title"]</h1>

    <h4>@Model.StatusMessage</h4>
</div>